:root {
  --the-blue: rgb(0, 92, 238);
  --the-grey: rgb(113, 126, 149);
  --the-light-blue: rgb(128, 173, 247);
  --the-lighter-blue: rgb(238, 242, 248);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.home-page {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  padding-top: 0;

  background-color: var(--the-lighter-blue);
  /* border: 5px solid blue; */
}


/* CSS FOR THE BOTTOM NAV */

.home-page .bottom-nav {
  padding-bottom: 20px;
  /* border: 2px solid red; */
  /* border: 3px solid red; */
  display: grid !important;
  height: 10vh;
  /* justify-content: space-between; */
  /* grid-template-columns: repeat(4, 1fr); */
}

.bottom-nav ul {
  padding: 0 !important;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.bottom-nav ul li {
  text-align: center;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
}

.bottom-nav ul li .active {
  text-align: center;
  /* border: 2px solid red !important; */
  /* background-color: white !important; */
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: var(--the-blue) !important; */
  color: white;
  border-radius: 20px;
  border: none;
  background-color: transparent !important;
}
.bottom-nav ul li .active i {
  color: var(--the-blue);
  font-size: 40px;
}

.bottom-nav ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.bottom-nav ul li button i {
 color: var(--the-light-blue);
}

.bottom-nav ul li button {
  text-align: center;
  font-size: 30px;
}

/* CSS FOR THE TABS NOW */

.the-content {
  height: 90vh;
  /* border: 3px solid green; */
  overflow-y: scroll;
}


/* -------CSS FOR THE HOME PART------ */
/* -------CSS FOR THE HOME PART------ */
/* -------CSS FOR THE HOME PART------ */

.home-content {
  width: 100%;
}

.home-content .dashboard {
  height: 250px;
  width: 100%;
  /* border: 2px solid red; */
  padding: 10px;
  background-image: url('../images/Screenshot\ 2025-01-18\ 221234.png');

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 12px;
}

.dashboard .bal-prof {
  width: 100%;
  height: 80px;
  /* border: 2px solid black; */
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bal {

}

.bal h3 {
  font-weight: 500;
}

.bal p {
  color: var(--the-lighter-blue);
  margin: 0;
}

.prof {
  display: flex;
  align-items: center;
  gap: 10px;
}

.prof i {
  font-size: 30px;
}

.prof img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 100%;
}


.dashboard-actions {
  width: 100%;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}

.dashboard-actions a {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 60px;
  min-height: 60px;
  border-radius: 10px;
  background-color: var(--the-light-blue);
  text-decoration: none;
  /* width: fit-content; */
  /* font-size: 18px; */
  padding: 8px;
  gap: 5px;
}

.dashboard-actions a i {
  font-size: 30px;
  /* padding: 8px;
  border-radius: 10px; */
}

.history > p {
  font-weight: bold;
  font-size: 18px;
}

.history > div {
  /* height: 400px; */
  /* border: 2px solid green; */
  border-radius: 20px;
  background-color: white;
  padding: 12px;
}

/* 
.history > div:nth-child(1), .history > div:nth-child(2) {
  border-bottom: 10px solid var(--the-grey);
} */

.one-transaction:last-of-type {
 border-bottom: none !important;
}

.one-transaction {
  height: 70px;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid var(--the-grey);
}

.one-transaction .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.one-transaction .left > p, .one-transaction .left > a {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--the-lighter-blue);
  border-radius: 8px;
  font-weight: 500;
  color: var(--the-blue);
  text-decoration: none;
}

.one-transaction .left > div p {
  margin: 0;
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: 500;
}

.one-transaction .left > div span {
  color: var(--the-grey);
  margin: 0;
}


.one-transaction .right .debit {
  font-weight: 500;
  color: black;
  margin: 0;
}

.one-transaction .right .credit {
  font-weight: 500;
  color: rgb(25, 184, 50);
  margin: 0;
}

/* ---------------------------------- */

.chart-sec {
  height: 300px;
  width: 100%;
  /* border: 2px solid red; */
  margin: 30px 0;
}

.chart-sec > p {
  font-weight: 600;
  font-size: 20px;
}

.pie-chart {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  padding-right: 0;
}

.chart-sec .chart-container {
  width: 100%;
  /* height: 200px; */
  /* background-color: white; */
  /* border: 2px solid green; */
  border-radius: 15px;
  display: flex;
  align-items: center;
  /* padding: 20px 5px; */
}

.chart-container .cc-left {
  width: 50%;
  height: 100%;
  /* border: 2px solid rebeccapurple; */
}

.cc-left p {
  font-size: 18px;
  margin: 0;
}
.cc-left span {
  color: var(--the-grey);
  margin: 12px 0;
  display: block;
}
.cc-left h2 {
  font-weight: 600;
}

.cc-right {
  width: 50%;
  height: 100%;
  /* border: 2px solid brown; */
  display: flex;
  align-items: center;
  justify-content: end;
}

canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  /* border: 2px solid blue; */
}


.det-container {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  /* border-top: 1px solid var(--the-grey); */
  padding-top: 20px;
  margin-top: 10px;
}

.det-container p {
  padding: 8px 20px;
  border-radius: 20px;
  width: fit-content !important;
  flex-shrink: 0;
  color: white;
}

/* ------CSS FOR THE TRANSACTION HISORY PART ------*/
/* ------CSS FOR THE TRANSACTION HISORY PART ------*/
/* ------CSS FOR THE TRANSACTION HISORY PART ------*/

.trans-history-content {

}

.trans-history-content ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 60px;
  /* border: 2px solid green; */
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  /* padding: 5px !important; */
  position: sticky;
  top: 10px;
}

.trans-history-content h4 {
  margin: 10px 0;
}

.trans-history-content ul li {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid blue; */
}

.trans-history-content ul li button {
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
  /* border: 2px solid red !important; */
  background-color: transparent;
}

.trans-history-content ul li > .active {
  background-color: var(--the-light-blue) !important;
  color: white !important;
}

.white-container {
  width: 100%;
  padding: 20px 15px;
  background-color: white;
  border-radius: 20px;
}

.white-container > div:last-of-type {
  border-bottom: none !important;
}




/* -----------CSS FOR THE CARD PART -----------*/
/* -----------CSS FOR THE CARD PART -----------*/
/* -----------CSS FOR THE CARD PART -----------*/

.card-tab-content {
  background-color: white;
}
.card-top {
  width: 100%;
  /* border: 2px solid red; */
  /* padding: 12px; */
}

.card-board {
  width: 100%;
  height: 250px;
  /* border: 2px solid black; */
  border-radius: 15px;
  background: url('../images/Card\ Black.png');
  background-size: cover;
  padding: 15px 12px;
}

.card-board > p {
  color: white;
  letter-spacing: 7px;
  margin: 35px 0;
}

.card-board .cbt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
}

.card-board .cbb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.cdt {
  width: 100%;
  border: 2px solid green;
  margin: 20px 0;
}

.cdt-navs {
  /* border: 2px solid red !important; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cdt-navs li {
  flex: 1 !important;
}

.cdt-navs li button {
  text-align: center;
  width: 100%;
  border: none !important;
  /* border: 2px solid blue !important; */
  padding: 12px 0;
  color: black;
  font-weight: 500;
}

.cdt-navs li button:hover {
  color: black;
}

.cdt-navs li .active {
  background-color: transparent !important;
  border-bottom: 3px solid var(--the-blue) !important;
  color: black;
}


.one-card-el {
  width: 100%;
  /* height: 70px; */
  padding: 16px 12px;
  /* border: 2px solid red; */
  /* border-top: 1px solid var(--the-grey); */
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.one-card-el .left {
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.one-card-el .left .ll button {
  width: 50px;
  height: 50px;
  margin: 0;
  background-color: var(--the-lighter-blue);
  border-radius: 10px;
  font-size: 25px;
  color: var(--the-blue);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-card-el .left .lr {
  /* border: 2px solid black; */
}

.one-card-el .left .lr span {
  color: gray;
}
.one-card-el .left .lr p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.one-card-el .right {
  /* border: 2px solid rebeccapurple; */
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 25px;
}


.redd {
  width: 100%;
  height: 500px;
  background-color: red;
}


/* ------CSS FOR THE PROFILE TAB-------- */
/* ------CSS FOR THE PROFILE TAB-------- */
/* ------CSS FOR THE PROFILE TAB-------- */

.profile-part {
  background-color: white;
}
.profile-card {
  width: 100%;
  /* border: 2px solid green; */
  border-bottom: 1.5px solid var(--the-lighter-blue);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.profile-card .dp-div {
  width: 90px;
  height: 90px;
  border: 2px solid black;
  border-radius: 100%;
}

.dp-div img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px solid black;
}

.profile-card .text-div p {
  margin: 0;
}

/* -------THE NAV AND TABS-------- */

.the-tabs {
  width: 100%;
  /* border: 2px solid green; */
  margin: 20px 0;
}

.the-tabs > div ul {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}

.the-tabs > div ul li {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.the-tabs > div ul li button {
  width: 100%;
  background-color: transparent !important;
  border: none;
  color: black;
  font-weight: 500;
}

.the-tabs > div ul li button:hover {
  color: black !important;
  color: black !important;
  box-shadow: none;
  border: none;
}

.the-tabs > div ul li .active {
  background-color: transparent;
  border: none !important;
  border-bottom: 3px solid var(--the-blue) !important;
}

.one-pp-sec {
  margin-bottom: 20px;
}

.one-pp-sec > p {
  color: var(--the-grey);
  font-size: 14px;
  /* border: 2px solid red; */
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.one-pp-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid rgb(238, 242, 248);
}

.one-pp-item span {
  color: grey;
}
.one-pp-item p {
  margin: 0;
  font-weight: 500;
  text-align: right;
}


.the-settings {
  width: 100%;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.one-set-item {
  height: 200px;
  /* border: 2px solid green; */
  border: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
  border-radius: 12px;
  background-color: var(--the-lighter-blue);
}

.one-set-item i {
  font-size: 35px;
}




.edit-modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: end;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
}

.edit-modal {
  /* height: 500px; */
  padding-bottom: 50px;
  width: 100vw;
  border: 2px solid;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  border: 2px solid green;
  background-color: white;
}

.edit-modal .em-top {
  width: 100%;
  /* height: 60px; */
  /* border: 2px solid red; */
  padding: 10px 15px;
  display: flex;
  justify-content: end;
}

.em-top button {
  padding: 5px;
  border: none;
  background-color: transparent;
}

.em-top button i {
  font-size: 30px;
}

.edit-modal .em-main {
  /* border: 2px solid blue; */
  padding: 12px;
}

.em-main > form > .one-edit-input {
  /* border: 2px solid red; */
  margin: 20px 0;
}

.one-edit-input label {
  display: block;
  font-size: 14px;
  margin: 0;
}
.one-edit-input input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid var(--the-light-blue);
  outline: none;
  margin: 10px 0;
  font-size: 17px;
}

.one-edit-btn {
  /* border: 2px solid black; */
  display: flex;
  justify-content: end;
}

.one-edit-btn button {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--the-blue);
  color: white;
}


.logout-modal {
  height: 100vh;
  width: 100%;
  /* border: 2px solid green; */
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  display: flex;
  justify-content: center;
}

.logout-modal .modal-content {
  width: 90%;
  height: fit-content;
  /* border: 5px solid green; */
  margin: 20px auto;
  margin-top: 200px;
  padding: 25px 15px;
  border-radius: 10px;
  background: whitesmoke;
}

#confirm {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background-color: rgb(220, 60, 60);
  color: white;
}

#stop {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--the-blue);
  color: white;
}

#logout {
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: red;
  margin: 50px auto;
  display: block;
}

.hidden {
  display: none;
}

.shown {
  display: flex !important;
}

.shown-block {
  display: block;
}




.spinner {
  /* width: 30px;
  height: 30px;
  display: flex;
  border: 2px solid black; */
  animation: spin 1s linear infinite;
  margin: 0;
  font-size: 20px;
}


@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
