:root {
  --the-blue: rgb(0, 92, 238);
  --the-grey: rgb(113, 126, 149);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  padding: 0;
  margin: 0;
}


.login-page {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 12px;
  padding-top: 0;

  /* background-color: blue; */
  /* border: 5px solid blue; */
}


.login-page .top-div {
  height: 60px;
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: sticky;
  top: -1px;
  /* border-radius: 5px; */
  padding: 10px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3); */
}

.top-div button {
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.login-page .intro {
  text-align: center;
}


.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  /* border: 2px solid red; */
}

.login-page form .form-body {
  /* border: 2px solid green; */
  margin: 50px 0;
}

.one-input-div {
  /* border: 2px solid red; */
  /* margin: 30px 0; */
  padding: 20px 0;
}

.one-input-div label {
  display: block;
  /* margin: 12px 0; */
  color: var(--the-grey);
}

.one-input-div input, .one-input-div select {
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  outline: none;
  border: none;
  border-bottom: 1.5px solid var(--the-grey);
}


.forgot-pw {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.forgot-pw a {
  color: black;
  font-weight: 500;
}







.submit-div p {
  font-size: 13px;
  text-align: center;
}

.submit-div .gs {
  width: 100%;
  display: block;
  /* border: 2px solid green; */
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--the-blue);
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0px 0px 12px 3px rgba(0, 92, 238, 0.4);
  border: none;
}

.submit-div .lg {
  padding: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--the-blue);
  text-decoration: none;
}

.submit-div .lg i {
  font-size: 30px;
  padding: 20px;
  background-color: var(--the-blue);
  border-radius: 100%;
  color: white;
}



.spinner {
  /* width: 30px;
  height: 30px;
  display: flex;
  border: 2px solid black; */
  animation: spin 1s linear infinite;
  margin: 0;
  font-size: 20px;
}


@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}