:root {
  --the-blue: rgb(0, 92, 238);
  --the-grey: rgb(113, 126, 149);
  --the-light-blue: rgb(128, 173, 247);
  --the-lighter-blue: rgb(238, 242, 248);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  max-width: 600px !important;
}

body {
  padding: 0;
  margin: 0 auto;
}

.receipt-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--the-lighter-blue);
  /* border: 5px solid green; */
  /* padding: 12px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.receipt-page .top-div {
  height: 60px;
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* position: sticky;
  top: 5px; */
  /* border-radius: 5px; */
  padding: 10px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3); */
}

.top-div button {
  font-size: 20px;
  background-color: transparent;
  border: none;
}



.main-div {
  height: 80vh;
  padding: 12px;
  /* border: 2px solid red; */

  overflow-y: scroll;
}

.main-div .trans-stat {
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  margin: 10px 0;
  margin-bottom: 50px;
  text-align: center;
}

.trans-stat>h6 {
  color: green;
  font-weight: 600;
}

.trans-stat h1 {
  font-weight: 700;
}


.rec-details {
  width: 100%;
  /* height: 300px; */
  /* border: 2px solid green; */
  padding: 10px 5px;
  margin: 30px 0;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}


.rec-details .rel {
  height: 50px;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* border: 2px solid red; */
  top: -25px;
}

.rec-details .rel img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  background-color: black;
  object-fit: contain;
  object-position: center;
  /* top: 0px;
  left: 40%; */
}

.rec-details .det {
  width: 100%;
  /* height: 200px; */
  /* border: 2px solid black; */
  margin-top: 20px;
  position: static;
  padding: 0 10px;
}

.det h5 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}

.one-det {
  display: flex;
  justify-content: space-between;
  margin: 1px 0;
}

.one-det>span {
  font-weight: 500;
  color: var(--the-grey);
}

.one-det p {
  font-weight: 600;
  /* font-size: 16px; */
}



.more-details {
  /* height: 300px; */
  /* border: 2px solid black; */
  padding: 5px;
}


.bottom-div {
  padding: 12px;
}

.bottom-div .gs {
  width: 100%;
  display: block;
  /* border: 2px solid green; */
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--the-blue);
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0px 0px 12px 3px rgba(0, 92, 238, 0.4);
  border: none;
}


.load-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.hidden {
  display: none !important;
}

.spinner {
  animation: spin 1s linear infinite;
  margin: 0;
  font-size: 20px;
}


@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}