:root {
  --the-blue: rgb(0, 92, 238);
  --the-grey: rgb(113, 126, 149);
  --the-light-blue: rgb(128, 173, 247);
  --the-lighter-blue: rgb(238, 242, 248);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  max-width: 600px !important;
}

body {
  padding: 0;
  margin: 0;
}

.send-money-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--the-lighter-blue);
  /* border: 5px solid green; */
  /* padding: 12px; */
  /* background-color: var(--the-blue); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}


.send-money-page .top-div {
  height: 60px;
  width: 100%;
  /* border: 2px solid rebeccapurple; */
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  /* position: sticky;
  top: 5px; */
  /* border-radius: 5px; */
  padding: 10px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3); */
}

.top-div h4 {
  margin: 0;
}



.send-money-page h3 {
  text-align: center;
}

.top-div button,
.top-div a {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: black;
}


.main-div {
  padding: 12px;
  padding-top: 0;

  /* border: 2px solid red; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.acc-num-div {
  width: 100%;
  /* border: 2px solid green; */
}

.acc-num-div label input,
.acc-num-div label select {
  width: 100%;
  padding: 15px 10px;
  /* pointer-events: none; */
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.acc-num-div label {
  margin: 20px 0;
  display: block;
}

.rec-display-div {
  height: 120px;
  /* border: 2px solid red; */
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.rec-display-div img {
  width: 55px;
  height: 55px;
  border: 2px solid black;
  border-radius: 100%;
}

.rec-display-div div p {
  margin: 0;
}


.bottom-div {
  width: 100%;
  /* border: 2px solid black; */
  padding: 0;
}

.bottom-div .gs {
  width: 100%;
  display: block;
  /* border: 2px solid green; */
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--the-blue);
  border-radius: 10px;
  margin: 10px 0;
  border: none;
  box-shadow: 0px 0px 12px 3px rgba(0, 92, 238, 0.4);
}

.bottom-div .lg {
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--the-blue);
  text-decoration: none;
}

.bottom-div .lg i {
  font-size: 20px;
  padding: 10px;
  background-color: var(--the-blue);
  border-radius: 100%;
  color: white;
}









.keypad {
  /* height: 400px; */
  /* border: 2px solid green; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.keypad button {
  font-size: 25px;
  border: none;
  /* height: fit-content; */
  background-color: transparent;
  color: white;
  padding: 20px 0;
}


.spinner {
  /* width: 30px;
  height: 30px;
  display: flex;
  border: 2px solid black; */
  animation: spin 1s linear infinite;
  margin: 0;
  font-size: 20px;
}


@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}